/*  */
/* 共通 css */
/*  */
:root {
    --main-bg-color: #FFFFFF;
    --font-color: #333333;
    --border-color: #DCDBDB;
}
* {
    box-sizing: border-box;
    color: var(--font-color);
}
body {
    margin: unset;
}
img {
    display: block;
}
h1, h2, h3, h4, h5, p, ul, ol, dl, dd, menu, button {
    margin: unset;
    padding: unset;
}
li {
    list-style: none;
}
a, a:visited {
    font-family: "Hiragino Kaku Gothic ProN";
    font-weight: 300;
    font-size: 14px;
    color: var(--font-color);
    text-decoration: none;
}
button {
    border: unset;
    background-color: unset;
}
p {
    font-family: "Hiragino Kaku Gothic ProN";
    font-weight: 300;
    font-size: 12px;
    color: var(--font-color);
}
p.copy {
    font-family: "Hiragino Kaku Gothic ProN";
    font-weight: 300;
    font-size: 10px;
    color: var(--font-color);
}
div.container {
    max-width: 1360px;
    padding: 0 40px;
    margin: 0 auto;
}
div.grid {
    display: grid;
}
/*  */
/* 共通 css ここまで */
/*  */


/*  */
/* 狭い画面向けの既定の CSS レイアウト値 */
/*  */
/* index.html ここから */
header {
    width: 100%;
    height: 80px;
    position: fixed;
    background-color: var(--main-bg-color);
}
header div.container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header img.logo {
    width: 180px;
}
/* ハンバーガー ここから */
header div.hamburger input {
    display: none;
}
header div.hamburger label {
    z-index: 1;
    display: block;
    width: 30px;
    height: 30px;
    position: relative;
}
header div.hamburger label::before {
    content: "";
    display: inline-block;
    width: 30px;
    height: 2px;
    background-color: #333;
    position: absolute;
    top: 8px;
    left: 0px;
    transition: all 0.5s ease;
}
header div.hamburger label::after {
    content: "";
    display: inline-block;
    width: 30px;
    height: 2px;
    background-color: #333;
    position: absolute;
    bottom: 8px;
    right: 0px;
    transition: all 0.5s ease;
}
/* クリックしたとき */
header div.hamburger input:checked + label + menu {
    display: block;
}
header div.hamburger input:checked + label:before {
    transform-origin: top right;
    transform: rotate(-45deg) translateY(-7px) translateX(-1px);
    background-color: #FFFFFF;
    transition: all 0.5s ease;
}
header div.hamburger input:checked + label::after {
    transform-origin: bottom right;
    transform: rotate(45deg) translateY(7px);
    background-color: #FFFFFF;
    transition: all 0.5s ease;
}
/* ハンバーガー ここまで */
header menu li {
    margin-bottom: 14px;
}
header menu a,
header menu a:visited {
    color: #FFFFFF;
}
header menu {
    display: none;
}
header menu {
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 100vh;
    padding: 36px 50px
}
main {
    padding-top: 80px;
}
main div.grid {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 5%;
    row-gap: 40px;
}
main div.grid div.item img {
    width: 100%;
    margin-bottom: 10px;
}
main div.link {
    margin-top: 59px;
    margin-bottom: 102px;
    text-align: center;
}
footer ul {
    display: flex;
    column-gap: 30px;
}
footer a, a:visited {
    font-size: 12px;
}
footer p.copy {
    margin-top: 5px;
    margin-bottom: 20px;
}
/* index.html  ここまで */


/* products.html ここから */
main#Products nav.pagination ol {
    width: fit-content;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 40px;
}
main#Products nav.pagination li {
    font-size: 14px;
}
/* products.html ここまで */
/*  */
/* 狭い画面 ここまで */
/*  */



/*  */
/* 広い画面向けの CSS */
/*  */
@media (min-width: 900px) {
main div.grid {
    grid-template-columns: repeat(4, 1fr);
    column-gap: 2.5%;
}
main div.link {
    margin-top: 40px;
    margin-bottom: 121px;
}
footer div.container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
footer p.copy {
    margin: unset;
}
}
/*  */
/* 広い画面 ここまで */
/*  */
